<!-- navbar -->
<div ng-include=" '_design/parts/header.html' "
     class="app-header navbar">
</div>
<!-- / navbar -->

<!-- menu -->
<div ng-include=" '_design/parts/aside.html' "
     class="app-aside hidden-xs {{app.settings.asideColor}}">
</div>
<!-- / menu -->

<!-- content -->
<div class="app-content">
    <div ui-butterbar></div>
    <a class="off-screen-toggle hide"
       ui-toggle-class="off-screen"
       data-target=".app-aside"></a>
    <toaster-container toaster-options="{'position-class': 'toast-top-right', 'close-button':true}"></toaster-container>
    <div class="app-content-body fade-in-up" ui-view></div>
</div>
<!-- /content -->
