﻿<!-- navbar header -->
<div class="navbar-header {{app.settings.navbarHeaderColor}}">
    <button class="pull-right visible-xs dk" ui-toggle-class="show" data-target=".navbar-collapse">
        <i class="glyphicon glyphicon-cog"></i>
    </button>
    <button class="pull-right visible-xs"
            ui-toggle-class="off-screen"
            data-target=".app-aside"
            ui-scroll-to="app">
        <i class="glyphicon glyphicon-align-justify"></i>
    </button>
    <!-- brand -->
    <a ui-sref="app.dashboard" class="navbar-brand text-lt">
        <i class="fa fa-vk"></i>
        <span class="hidden-folded m-l-xs">{{app.name}}</span>
    </a>
    <!-- / brand -->
</div>
<!-- / navbar header -->
<!-- navbar collapse -->
<div class="collapse pos-rlt navbar-collapse box-shadow {{app.settings.navbarCollapseColor}}">
    <!-- buttons -->
    <div class="nav navbar-nav hidden-xs">
        <a class="btn no-shadow navbar-btn" ng-click="app.settings.asideFolded = !app.settings.asideFolded">
            <i class="fa {{app.settings.asideFolded ? 'fa-indent' : 'fa-dedent'}} fa-fw"></i>
        </a>
        <a class="btn no-shadow navbar-btn" ui-toggle-class="show" target="#aside-user">
            <i class="icon-user fa-fw"></i>
        </a>
    </div>
    <!-- / buttons -->
    <!-- nabar right -->
    <ul class="nav navbar-nav navbar-right">
        <li class="hidden-xs">
            <a ngsf-toggle-fullscreen title="Переключить полный экран">
                <i class="fa fa-expand fa-fw text"></i>
                <i class="fa fa-compress fa-fw text-active"></i>
            </a>
        </li>
        <li class="dropdown" dropdown>
            <a class="dropdown-toggle clear" dropdown-toggle>
                <div class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                    <!--<img src="img/a0.jpg" alt="...">-->
                    <div class="fa fa-3x fa-user"></div>
                    <i class="on md b-white bottom"></i>
                </div>
                <span class="hidden-sm hidden-md">Иванов Иван</span> <b class="caret"></b>
            </a>
            <!-- dropdown -->
            <ul class="dropdown-menu animated fadeInRight w">
                <li>
                    <a ui-sref="app.profile">Профиль</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a ui-sref="access.signin">Выход</a>
                </li>
            </ul>
            <!-- / dropdown -->
        </li>
    </ul>
    <!-- / navbar right -->

</div>
<!-- / navbar collapse -->
