﻿<!-- list -->
<ul class="nav">
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs" ng-repeat-start="cat in menu">
        <span ng-bind="cat.title"></span>
    </li>
    <li ng-repeat="item in cat.items" ng-class="{active:$state.includes(item.parentState || item.state)}">
        <a ui-sref="{{item.state}}" class="auto">
            <i class="{{item.icon}} icon {{item.color}}"></i>
            <span class="font-bold" ng-bind="item.title"></span>
        </a>
    </li>

    <li class="line dk" ng-repeat-end></li>
</ul>
<!-- / list -->
