<div class="modal-header">
    <h3 class="modal-title"
        ng-bind="title"></h3>
</div>

<div class="modal-body"
     ng-bind-html="body"></div>

<div class="modal-footer">
    <button type="button"
            class="btn btn-primary"
            ng-click="$dismiss()">
        Закрыть
    </button>
</div>
