<div class="modal-header"
     ng-show="title">
    <h2 ng-bind="title"></h2>
</div>

<div class="modal-body">
    <h4 ng-bind="message"></h4>
</div>

<div class="modal-footer">
    <button class="btn btn-primary btn-sm" autofocus
            ng-click="$close()">Да
    </button>
    <button class="btn btn-default btn-sm"
            ng-click="$dismiss()">Нет
    </button>
</div>
