<div class="modal-header"
     ng-show="title">
    <h2 ng-bind="title"></h2>
</div>

<div class="modal-body form-validation">
    <div class="form-group">
        <label for="text"
               ng-bind="message"></label>
        <input class="form-control"
               id="text"
               ng-model="text"
               autofocus
               required>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-primary btn-sm"
            ng-click="$close(text)">OK
    </button>
    <button class="btn btn-default btn-sm"
            ng-click="$dismiss()">Отмена
    </button>
</div>
